<div class="container">
    <div class="card" style="width: 28rem;">
        <form>
            <div class="mb-3">
                <label class="form-label">Id</label><input type="text" class="form-control" name="id" [(ngModel)]="vaga.id">
            </div>
            <div class="mb-3">
                <label class="form-label">Nome</label><input type="text" class="form-control" name="nome" [(ngModel)]="vaga.nome"><br>
            </div>
            <div class="mb-3">
                <label class="form-label">Foto</label><input type="text" class="form-control" name="foto" [(ngModel)]="vaga.foto"><br>
            </div>
            <div class="mb-3">
                <label class="form-label">Descrição</label><input type="text" class="form-control" name="descricao" [(ngModel)]="vaga.descricao"><br>
            </div>
            <div class="mb-3">
                <label class="form-label">Salário</label><input type="text" class="form-control" name="salario" [(ngModel)]="vaga.salario"><br>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)="cadastrar()">Cadastrar Vaga</button>
                <button type="button" class="btn btn-warning" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
                <button type="button" class="btn btn-danger" (click)="excluir(vaga.id)">Excluir Vaga</button>
            </div>
        </form>
    </div>
</div>